# Подключение БД
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=db
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

DEBAG=

    # JWT
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=15
FRESH_TOKEN_EXPIRE_MINUTES=1080

    # Алгоритм шифрования токена
ALGORITHM=HS256

    # Список ролей пользователей
ROLES=admin,user